* {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 1000px;
    height: 932px;
    border: 2px solid #D8D9DA;
    border-radius: 26px;
    overflow: hidden;
}

.title__notes {
    font-size: 38px;
}

.button__notes {
    margin: 0;
    font-size: 25px;
}

.button__notes:hover {
  cursor: pointer;
}

.title__notes {
    margin: 0;
    margin-top: 38px;
    margin-right: 48px;
    margin-left: 53px;
}

.left__part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 53px;
    overflow: hidden;
    width: 370px;
    height: 932px;
    border-right: 1px solid #F0F0F0;
    background-color: #FCFBFC;
}

.tags__list-item:hover {
    overflow: hidden;
    cursor: pointer;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.tags__list-item {
    padding: 11px 68px 12px 38px;
}

.button__notes {
    height: 60px;
    width: 310px;
    background-color: #4499FF;
    border: none;
    border-radius: 10px;
    color: white;
}

.tags__title {
    color: #74777B;
    font-size: 30px;
}

.tags {
    margin: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-self: start;
}

.tags__list {
    margin: 0;
    padding: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.search {
    display: flex;
    margin-left: 29px;
    margin-top: 36px;
    align-items: center;
    gap: 11px;
}

.search__input {
    padding: 0;
    margin: 0;
    width: 512px;
    height: 50px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    font-size: 20px;
    padding-left: 16px;
}
.search__button {
    border-radius: 10px;
    padding: 0;
    margin: 0;
  margin-right: 28px;
    background-image: url("./images/Vector.svg");
    background-position: center;
    background-size: 26px 25px;
    background-repeat: no-repeat;
    background-color: #4499FF;
    width: 50px;
    height: 50px;
    border: none;
}

.search__button:hover {
  cursor: pointer;
}

.note {
   display: flex;
   position: relative;
  margin: 0;
   border: 1px solid #D8D9DA;
  border-radius: 10px;
  border-color: #E3E2E5;
  flex-grow:1;
}

.tag {
    display: inline;
    background-color: #F5F7F7;
    border-radius: 10px;
  font-size: 15px;
  padding: 5px 16px 5px 17px;
}

.note__left__part {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
}

.note__title {
  hyphens: auto;
  font-weight: bold;
  padding-top: 16px;
  padding-left: 22px;
  font-size: 30px;
}

.note__date {
  padding-bottom: 14px;
  padding-left: 22px;
  font-size: 18px;
}

.note__tag {
  margin-top: 20px;
  margin-right: 18px;
}

.notes__list {
  margin: 53px 28px 0 29px;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: auto;
}


#modal {
  display: none;
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-button {
  background-color: #4499FF;
  border: none;
  padding:5px;
  margin: 9px;
  border-radius: 10px;
}

.modal-button:hover{
  cursor: pointer;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}

.modal-content input {
  width: 90%;
  padding: 5px;
  margin: 5px 0;
}

.modal-content select {
  width: 284px;
  padding: 5px;
  margin: 5px 0;
}

.modal-content button {
  margin-top: 10px;
}

.modal-title {
  font-size: 20px;
  margin-top: 7px;
}

.modal-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.note__buttons {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0px 20px 17px 0px;
  gap: 5px;
}

.delete__note {
  background-color: rgb(241, 56, 56);
  border-radius: 5px;
}

.update__note{
  background-color: #4499FF;
  border-radius: 5px;
}

.note__button:hover {
  cursor: pointer;
}

.note__button {
  border: 0;
  color: white;
}